html,
body {
    background-color: #ffeead;
    margin: 10px;
}

.container {
    padding: 0;
}

.container > li {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    box-sizing: border-box;
    background-color: #96ceb4;
    list-style-type: none;
}

.search-input {
    background: #ff6e68;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffeead;
    color: #ffeead;
}

::placeholder {
    color: #ffeead;
}

.search-input:focus {
    outline: none;
}
