/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --green-opacity: rgba(38, 76, 89, 0.2);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #fff;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-color-out-of-stock: rgb(89, 38, 38);
    --text-color-in-stock: rgb(172, 198, 201);
}

/* ---------- general styling ---------- */
html {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0.5em 0 0.2em;
}

img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

a {
    cursor: pointer;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------- header styling ---------- */
header {
    background-color: var(--green);
    color: var(--text-color-light);
    padding: 13.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
}

/* ---------- main (page) styling ---------- */
main {
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 108px);
    background: var(--light-grey);
    animation: fadeIn 0.5s;
    /* padding equals height of tabbar and topbar */
    padding: 108px 0 0;
}
